node_modules
build/assets
build/site/config/config.govinda-leipzig.de.php
workbench


# System files
# ------------

Icon
.DS_Store


# Temporary files
# ---------------

build/thumbs/*
!build/thumbs/index.html

build/site/cache/*
!build/site/cache/index.html


# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

build/site/accounts/*
!build/site/accounts/index.html
