[submodule "build/kirby"]
	path = build/kirby
	url = https://github.com/getkirby/kirby
[submodule "build/panel"]
	path = build/panel
	url = https://github.com/getkirby/panel
[submodule "build/site/plugins/imageset"]
	path = build/site/plugins/imageset
	url = https://github.com/fabianmichael/kirby-imageset.git
[submodule "build/site/plugins/images"]
	path = build/site/plugins/images
	url = https://github.com/medienbaecker/kirby-images.git
[submodule "build/site/plugins/seo"]
	path = build/site/plugins/seo
	url = https://github.com/jenstornell/kirby-seo.git
[submodule "build/site/fields/tabs"]
	path = build/site/fields/tabs
	url = https://github.com/afbora/Kirby-Tabs-Field.git
[submodule "build/site/plugins/simplemde"]
	path = build/site/plugins/simplemde
	url = https://github.com/medienbaecker/kirby-simplemde.git
[submodule "build/site/plugins/quickselect"]
	path = build/site/plugins/quickselect
	url = https://github.com/medienbaecker/kirby-quickselect.git
