.button {
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: $green;

  &:hover,
  &:focus {
    background-color: shade($green, 20%);
    color: $white;
  }

  @each $site-slug, $signature-color in $signature-colors {
    .#{$site-slug} & {
      background: $signature-color;

      &:hover,
      &:focus {
        background: shade($signature-color, 20%);
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $medium-gray;
    }
  }
}
