ul,
ol {
  list-style-type: none;
  margin-bottom: $small-spacing;
  margin-left: $small-spacing;
  position: relative;

  li {
    padding-left: $small-spacing;

    &::before {
      position: absolute;
      content: '▪';
      left: 0;
      color: $green;

      @each $site-slug, $signature-color in $signature-colors {
        .#{$site-slug} & {
          color: $signature-color;
        }
      }
    }
  }
}

.inline li {
  padding: 0;

  @include grid-media($large) {
    display: inline;
  }

  + li {
    margin-left: $small-spacing;
  }

  &::before {
    content: '';
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
