$secondary-links-font-size: 12px;

.site-footer {
  border-top: $base-border;
  text-align: center;
  display: inline-block;
  padding: 2em 0 $base-spacing;
  width: 100%;
}

.footer-details {
  @include grid-media($large) {
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-nav {
  margin: 0;

  @include grid-media($large) {
    float: right;
  }
}

.secondary-links {
  margin: $small-spacing / 3 0 0;

  @include grid-media($large) {
    float: left;
    margin: 0;
  }

  a {
    font-size: $secondary-links-font-size;
  }
}

.footer-social {
  margin: $base-spacing 0 0;
  text-align: center;
  display: inline-block;

  @include grid-media($large) {
    float: right;
    margin: 0 0 0 $base-spacing;
  }

  li {
    float: left;
  }

  a {
    border: 0;
    color: $medium-gray;

    &:focus,
    &:hover {
      color: $green;
    }

    @each $site-slug, $signature-color in $signature-colors {
      .#{$site-slug} &:focus,
      .#{$site-slug} &:hover {
        color: $signature-color
      }
    }
  }
}
