$content-top-spacing: 2 * $base-spacing;
$header-nav-padding-top: 70px;
$header-nav-padding-bottom: 4px;
$about-us-link-dimension: 115px;
$about-us-link-left: -20px;
$about-us-link-top: -30px;
$about-us-link-rotation: -20deg;

.site-header {
  text-align: center;
  padding-top: 1.5 * $base-spacing;
}

.header-logo {
  border: 0;
}

.header-image {
  position: relative;
  margin-top: $content-top-spacing;
  border-radius: $base-border-radius $base-border-radius 0 0;
  display: block;

  .imageset {
    border-radius: inherit;
  }
}

.nav {
  text-align: left;
  margin: 0;
  padding: 2% 15%;
  padding-top: 1.5 * $base-spacing;
  border-radius: 0 0 $base-border-radius $base-border-radius;
  background-color: $green;

  @include grid-media($medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $header-nav-padding-top 60px $header-nav-padding-bottom;
  }

  @each $header-nav-slug, $header-nav-bg-color, $header-nav-link-color in zip($header-nav-slug, $header-nav-bg-colors, $header-nav-link-colors) {
    .#{$header-nav-slug} & {
      background-color: $header-nav-bg-color;
    }
    .#{$header-nav-slug} &__link {
      color: $header-nav-link-color;
    }
  }

  &__link {
    font-size: 19px;
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0;
    color: $light-green;

    &:hover,
    &:focus,
    &.is-active {
      color: $white;
    }
  }
}

.about-us--link {
  position: absolute;
  top: $about-us-link-top;
  left: $about-us-link-left;
  border-bottom: 0;
  z-index: 500;

  svg {
    width: $about-us-link-dimension;
    height: $about-us-link-dimension;

    path:first-child {
      fill: $green;
      transition: fill 2 * $base-duration $base-timing;
    }

    &:hover path:first-child {
      fill: $light-green;
    }
  }
}
