// Typography
$base-font-family: 'Merriweather', Arial, sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #4a4a4a;
$medium-gray: #999;
$light-gray: #eee;
$white: #fff;
$green: #789417;
$light-green: #b7c065;
$red: #ab251a;
$light-red: #c4665e;
$brown: #c36912;
$light-brown: #d59659;
$deep-orange: #f05500;
$light-deep-orange: #f9bcb7;
$orange: #e79122;
$light-orange: #ffb45e;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $base-font-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 200ms;
$base-timing: ease;


// Signature Colors
$signature-colors: (
  'unser-angebot': $red,
  'catering': $green,
  'festivals': $brown,
  'galerie': $orange
);

// Navigation-related Colors
$header-nav-slug: unser-angebot, catering, festivals, galerie;
$header-nav-bg-colors: $red, $green, $brown, $orange;
$header-nav-link-colors: $light-red, $light-green, $light-brown, $light-orange;

// Breakpoints
$small-screen: 480px;
$medium-screen: 800px;
$large-screen: 1024px;
// $xlarge-screen: 1200px;
$gutter: $base-spacing;
$gutter-small: $small-spacing;

// Grid
// $neat-grid: (
//   columns: 12,
//   gutter: $gutter,
//   media: $xlarge-screen
// );

$small: (
  columns: 12,
  // gutter: $gutter-small,
  media: $small-screen
);

$promo: (
  columns: 4,
  gutter: 44px / 4,
  // media: $small-screen
);

$medium: (
  columns: 12,
  // gutter: $gutter,
  media: $medium-screen
);

$large: (
  columns: 12,
  // gutter: 0,
  media: $large-screen
);
