$about-us-green: #789417;
$about-us-green--hover: $orange;
$about-us-link-dimension: 115px;
$about-us-link-left: -15px;
$about-us-link-top: -30px;

.badge-link {
  position: absolute;
  border-bottom: 0;
  z-index: 500;

  svg path {
    transition: fill 2 * $base-duration $base-timing;
  }

  &.about {
    top: $about-us-link-top;
    left: $about-us-link-left;

    svg {
      width: $about-us-link-dimension;
      height: $about-us-link-dimension;

      path:first-child {
        fill: $about-us-green;
      }

      &:hover path:first-child {
        fill: $about-us-green--hover;
      }
    }
  }
}
