.team-image {
  margin: $base-spacing 0 2 * $base-spacing;
  position: relative;

  &:hover .pin {
    opacity: 1;
    pointer-events: auto;
    cursor: default;
  }

  .pin {
    opacity: 0;
    position: absolute;
    animation-fill-mode: both;
    pointer-events: none;
    background: $orange;
    border-radius: $base-border-radius;
    color: $white;
    padding: 4px 8px;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    transition-duration: 3 * $base-duration;

    @include grid-media($small) {
      font-size: 10px
   }

    @include grid-media($medium) {
      font-size: 18px
   }

    @include grid-media($large) {
      font-size: 22px
   }
  }

  @for $i from 1 through 9 {
      & .pin:nth-child(#{$i}n) {
          transition-delay: #{$i * 0.25}s;
      }
  }
}
