.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    position: relative;
    width: 214px;

    @include grid-media($small) {
      width: 194px;
    }

    @include grid-media($medium) {
      width: 174px;
    }

    @include grid-media($large) {
      width: 214px;
    }

    @each $site-slug, $signature-color in $signature-colors {
      &--#{$site-slug} h2 {
        background: $signature-color;
      }

      &--#{$site-slug} p {
        color: $signature-color;
      }
    }

    p {
      font-size: 15px;
      margin-top: 1.5 * $small-spacing;
    }
  }

  &__link {
    border: 0;
    outline: 0;

    .imageset-element {
      transition: opacity $base-duration $base-timing !important;
      vertical-align: bottom;
      border-radius: $base-border-radius $base-border-radius 0 0;
    }

    &:hover .imageset-element {
      opacity: 0.75 !important;
    }

    h2 {
      color: $white;
      font-weight: 400;
      letter-spacing: 2px;
      margin: 0;
      line-height: $base-line-height;
      padding: $header-nav-padding-top 10px $header-nav-padding-bottom;
      text-transform: uppercase;
      border-radius: 0 0 $base-border-radius $base-border-radius;
    }
  }
}
